html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #272727;
  color: #fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none !important;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@font-face {
  font-family: "FiraGo-ThinItalic";
  src: url(./Assets/Fonts/FiraGO-ThinItalic.otf);
}

@font-face {
  font-family: "FiraGo-Thin";
  src: url(./Assets/Fonts/FiraGO-Thin.otf);
}

@font-face {
  font-family: "FiraGo-Medium";
  src: url(./Assets/Fonts/FiraGO-Medium.otf);
}

@font-face {
  font-family: "FiraGo-SemiBoldItalic";
  src: url(./Assets/Fonts/FiraGO-SemiBoldItalic.otf);
}

@font-face {
  font-family: "Helvetica-Roman";
  src: url(./Assets/Fonts/HELVETICANEUELTGEO-55ROMAN.TTF);
}

@font-face {
  font-family: "BPG Glaho WEB Caps";
  src: url("./Assets/Fonts/bpg-glaho-web-caps-webfont.eot"); /* IE9 Compat Modes */
  src: url("./Assets/Fonts/bpg-glaho-web-caps-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./Assets/Fonts/bpg-glaho-web-caps-webfont.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./Assets/Fonts/bpg-glaho-web-caps-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("./Assets/Fonts/bpg-glaho-web-caps-webfont.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("./Assets/Fonts/bpg-glaho-web-caps-webfont.svg#bpg_glaho_web_capsregular")
      format("svg"); /* Legacy iOS */
}

/* Particles */
#tsparticles {
  width: 100%;
  height: 100%;
  background-color: #272727;
}

/* Header */

.navbar-collapse {
  justify-content: flex-end;
}
.navbar-collapse .navbar-nav {
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@media only screen and (max-width: 991.98px) {
  .navbar-collapse {
    padding: 15px;
  }
  .navbar-collapse .navbar-nav {
    align-items: flex-start;
  }
}

/* Header Language Dropdown */
.language-dropdown {
  width: 25px;
  padding: 0;
  border: none;
  background-color: transparent !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.language-dropdown:focus,
.language-dropdown:hover {
  border: none;
  background-color: transparent !important;
  box-shadow: none !important;
}

.language-option {
  width: 25px;
}
.dropdown-menu {
  min-width: unset;
  background-color: #272727;
  border: none;
  border-bottom: 2px solid rgba(237, 196, 141, 1);
  inset: unset !important;
  padding: 5px;
  margin-top: 10px !important;
}
.dropdown-menu a {
  line-height: unset !important;
  border-bottom: none !important;
}

/* Header Navbar Hamburger Reset */
.navbar-toggler {
  color: transparent !important;
  border: none;
  padding: 0 !important;
}

/* Home Slick Slider */
.slick-slide img {
  width: 100%;
}
